{% extends "base.html" %}
{% load static %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Assignment from FlexiBees for the role {{role}}  and for the project {{project}} you have shown interest</title>
</head>
<td style="padding: 55px 70px;">
    <p style="padding-bottom: 0px; margin: 0;font-size: 31px;font-weight:700">Hi {{ username }},</p><br>
    <p style="padding-bottom: 20px; margin: 0;font-size: 14px;font-weight:400">Greetings. Hope you are doing good. Thanks for your interest in the role {{role}}  for the project {{project}} with FlexiBees. Please find the attached Assignment herewith. Please download and work on the same. Once you complete the assignment, kindly upload the same from your FlexiBees Mobile App in the Upload Assignment option under the Active Project Section in the Home Page. You can track the time left for the Assignment Completion in the FlexiBees App to know how much time is left for your Assignment to be completed and uploaded.
Steps to follow.</p>
    <p style="padding-bottom: 0px; margin: 0;font-size: 18px;font-weight:700">1. Download the Assignment from the email Attachment </p>
    <p style="padding-bottom: 0px; margin: 0;font-size: 18px;font-weight:700">2. Complete the Assignment</p>
    <p style="padding-bottom: 0px; margin: 0;font-size: 18px;font-weight:700">3. Go to the Active Project Section in your FlexiBees App</p>
    <p style="padding-bottom: 0px; margin: 0;font-size: 18px;font-weight:700">4. From the list Click on the Project for which the Assignment has been given</p>
    <p style="padding-bottom: 0px; margin: 0;font-size: 18px;font-weight:700">5. You will find the Upload Assignment option there</p>
    <p style="padding-bottom: 0px; margin: 0;font-size: 18px;font-weight:700">6. Click on Upload Assignment and upload the Assignment from your device (Eg. Google Drive) </p><br>
    <p style="padding-bottom: 0px; margin: 0;font-size: 18px;font-weight:700">Note:- You can find the ""How can I upload an assignment?"" under the Help and Support section in the FlexiBees App</p><br>
    <p style="padding-bottom: 20px; margin: 0;font-size: 14px;font-weight:400">Good Luck with your Job Search</p><br><br>
    <p style="padding-bottom: 20px; margin: 0;font-size: 14px;font-weight:400">Regards,</p><br>
    <p style="padding-bottom: 20px; margin: 0;font-size: 14px;font-weight:400">FlexiBees Team</p><br>
</td>
{% endblock content %}
