{% extends "base.html" %}
{% load static %}
{% block content %}
<td style="padding: 55px 70px;">
    <p style="padding-bottom: 0px; margin: 0;font-size: 31px;font-weight:700">Hi {{ username }},</p>
    <p style="padding-bottom: 20px; margin: 0;font-size: 14px;font-weight:400">Having trouble with password? </p>
    <p style="padding-bottom: 20px; margin: 0;font-size: 14px;font-weight:400">Reset your password using the link below.</p>
    <a target="_blank" href="https://{{ domain }}/api/admin/reset-password/{{ role }}/{{ uid }}/{{ token }}" style="margin-bottom: 20px;display: inline-block;background:#F8B817;border-radius: 3px;color: #000;padding: 12px 30px;font-size: 14px;;text-decoration: none;">
        Reset Password
    </a>
    <a target="_blank" href="https://{{ domain }}/api/admin/reset-password/{{ role }}/{{ uid }}/{{ token }}"><p style="padding-bottom: 20px; margin: 0;font-size: 14px;font-weight:400;padding: 15px 0px;color:#F8B817">{{ domain }}/api/admin/reset-password/{{ role }}/{{ uid }}/{{ token }}</p></a>
    <p style="padding-bottom: 20px; margin: 0;font-size: 14px;font-weight:400">Or copy, paste and visit this verification URL on a new browser.</p>
</td>
{% endblock content %}