{% extends "base.html" %}
{% load static %}
{% block content %}
<td style="padding: 55px 70px;">
    <p style="padding-bottom: 0px; margin: 0;font-size: 31px;font-weight:700">Hi {{ username }},</p>
    <p style="padding-bottom: 20px; margin: 0;font-size: 14px;font-weight:400">Your password has been reset successfully.</p>
    <p style="padding-bottom: 20px; margin: 0;font-size: 14px;font-weight:400">Please Login to your account with new password.</p>
    <a target="_blank" href="https://{{ frontend_url }}" style="margin-bottom: 20px;display: inline-block;background:#F8B817;border-radius: 3px;color: #000;padding: 12px 30px;font-size: 14px;font-family: 'Open Sans', sans-serif;text-decoration: none;">
        Go to Login
    </a>
</td>
{% endblock content %}