{% extends "base.html" %}
{% load static %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Your FlexiBees Account has been created - Welcome to FlexiBees!</title>
</head>
<td style="padding: 55px 70px;">
    <p style="padding-bottom: 0px; margin: 0;font-size: 31px;font-weight:700">Dear {{ username }},</p>
    <p style="padding-bottom: 20px; margin: 0;font-size: 14px;font-weight:400">Thank you for Signing-up with FlexiBees. Having provided part time roles to Women across all functions such as Sales, Marketing, Finance, Technology, HR over half a decade, the all new FlexiBees’ Mobile App is now available to you at your fingertips.</p>
    <p style="padding-bottom: 20px; margin: 0;font-size: 14px;font-weight:400">To help you find the right roles matched with your skills and flexibility needs, Login to your FlexiBees App now, and complete your Profile Information, such as “My Profile”, “My Life”, and “My Typical Day”.</p>
    <p style="padding-bottom: 20px; margin: 0;font-size: 14px;font-weight:400">This will enable you to receive real-time role alerts, and participate in our matching process easily. While you wait, you can sharpen yourself by accessing curated content around flexible careers from the “My Resources” Section on the App and our Social media pages.</p>
    <p style="padding-bottom: 20px; margin: 0;font-size: 14px;font-weight:400">You have taken the first bold step into the Future of Work. Our best wishes for many more.</p>
    <p style="padding-bottom: 20px; margin: 0;font-size: 14px;font-weight:400">With best regards,</p>
    <p style="padding-bottom: 20px; margin: 0;font-size: 14px;font-weight:400">Team FlexiBees</p>
</td>
{% endblock content %}