{% extends "base.html" %}
{% load static %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Thanks for your interest - Welcome to FlexiBees</title>
</head>
<td style="padding: 55px 70px;">
    <p style="padding-bottom: 0px; margin: 0;font-size: 31px;font-weight:700">Hi {{ username }},</p><br>
    <p style="padding-bottom: 20px; margin: 0;font-size: 14px;font-weight:400">Hope you and your dear ones are doing well. You had recently signed up with us expressing interest in finding part-time and remote roles via FlexiBees (www.flexibees.com). We are happy to share that our just launched FlexiBees Mobile App will help you find the right role matched with your skills and flexibility needs.</p>
    <p style="padding-bottom: 20px; margin: 0;font-size: 14px;font-weight:400">The App is compatible with Android and iOS devices, and will help you build your profile with ease, get real-time role alerts, and participate in our matching process in an effective way. What's more, you get access to specially curated content around flexible careers to keep sharpening yourself!</p>
    <p style="padding-bottom: 20px; margin: 0;font-size: 14px;font-weight:400">Follow these easy steps now to access a Universe of flexible work options:-</p>
    <p style="padding-bottom: 20px; margin: 0; font-size: 14px;font-weight:400">1. Install the App from Play store- <a target="_blank" href="http://{{play_store_link}}" style="color: #0F52BA; font-size: 14px;">{{play_store_link}}</a> or Apple App store - <a target="_blank" href="http://{{app_store_link}}" style="color: #0F52BA; font-size: 14px;">{{app_store_link}}</a></p>
    <p style="padding-bottom: 20px; margin: 0;font-size: 14px;font-weight:400">2. Sign In/Login using the email address registered with FlexiBees</p>
    <p style="padding-bottom: 20px; margin: 0;font-size: 14px;font-weight:400">3. Complete your profile information, including Professional skills and Flexibility factors</p>
    <p style="padding-bottom: 20px; margin: 0;font-size: 14px;font-weight:400">4. Await role alerts to express interest and participate in the matching process</p>
    <p style="padding-bottom: 20px; margin: 0;font-size: 14px;font-weight:400">The FlexiBees Mobile App will help us bring meaningful flexible roles to many more women like you - across all functions such as Sales, Marketing, Digital Marketing, Graphic Design, Finance, Content Writing, Learning & Assessments, Human Resources and Technology.</p>
    <p style="padding-bottom: 20px; margin: 0;font-size: 14px;font-weight:400">Download the FlexiBees Mobile App and Step into the Future of Work with confidence.</p>
    <p style="padding-bottom: 20px; margin: 0;font-size: 14px;font-weight:400">With best regards,</p>
    <p style="padding-bottom: 20px; margin: 0;font-size: 14px;font-weight:400">Team FlexiBees</p>
</td>
{% endblock content %}
